@page "/QualityAnalysis"
@using global::Shared.Models
@inject HttpClient HttpClient

<div class="card">
    <h3>Automated Quality Analysis and Adjustments</h3>

    <h3>Measurement Data</h3>

    <table class="adjustment-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Measured Value</th>
            <th>Tolerance</th>
            <th>Deviation</th>
            <th>Adjustment Needed</th>
            <th>Segment No</th>
            <th>Stator No</th>
        </tr>
        </thead>
        <tbody>
        @if (_calculationResults != null)
        {
            @foreach (var measurement in _calculationResults)
            {
                <tr>
                    <td>@measurement.Date.ToShortDateString()</td>
                    <td>@measurement.MeasuredValue.ToString("F2")</td>
                    <td>@measurement.Tolerance.ToString("F2")</td>
                    <td>@measurement.Deviation.ToString("F2")</td>
                    <td>@(measurement.AdjustmentNeeded ? "Yes" : "No")</td>
                    <td>@measurement.SegmentNo.ToString("F1")</td>
                    <td>@measurement.StatorNo</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>


@code {
    private List<AdjustedCalculationDto>? _calculationResults;

    protected override async Task OnInitializedAsync()
    {
        await GetCalculationResult();
    }

    private async Task GetCalculationResult()
    {
        _calculationResults = await HttpClient.GetFromJsonAsync<List<AdjustedCalculationDto>>($"api/controller/GetAllCalculationResults") ?? throw new InvalidOperationException();
    }

}